@model Web_Table01.Models.Sach

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sach</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSach" class="control-label"></label>
                <input asp-for="MaSach" class="form-control" />
                <span asp-validation-for="MaSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSach" class="control-label"></label>
                <input asp-for="TenSach" class="form-control" />
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TacGia" class="control-label"></label>
                <input asp-for="TacGia" class="form-control" />
                <span asp-validation-for="TacGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTheLoai" class="control-label"></label>
                <input asp-for="MaTheLoai" class="form-control" />
                <span asp-validation-for="MaTheLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNXB" class="control-label"></label>
                <input asp-for="MaNXB" class="form-control" />
                <span asp-validation-for="MaNXB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGiaNhap" class="control-label"></label>
                <input asp-for="DonGiaNhap" class="form-control" />
                <span asp-validation-for="DonGiaNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGiaBan" class="control-label"></label>
                <input asp-for="DonGiaBan" class="form-control" />
                <span asp-validation-for="DonGiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTrang" class="control-label"></label>
                <input asp-for="SoTrang" class="form-control" />
                <span asp-validation-for="SoTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrongLuong" class="control-label"></label>
                <input asp-for="TrongLuong" class="form-control" />
                <span asp-validation-for="TrongLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

