@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --pink: #DE5D83;
    --black: #101116;
    --gray: #bebebe;
    --light-gray: #d9d9d9;
    --comment-box: #171B27;
    --comment:#555D68;
    --comment-date:#8A8A8A;
    --warning:#E50914;
    --yellow:#EEE62F;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0B1118;
    z-index: -2;
    color: #fff;
}

.feature {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.feature__bg--video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    object-fit: cover;
    z-index: -1;
}

.feature-content {
    position: absolute;
    bottom: 5%;
    left: 5%;
    transform: none;
    text-align: left;
    width: 80%;
    padding: 2rem;
    z-index: 1;
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

h1.movie-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #f8f9fa;
    letter-spacing: 1px;
    line-height: 1.2;
}

.movie-age {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

.movie-age[data-age="p"] {
    background-color: #579b41;
    text-transform: uppercase;
    padding: 2.5px 10px;
}

.movie-age[data-age="13+"] {
    background-color: #ddbc3f;
}

.movie-age[data-age="16+"] {
    background-color: #e88021;
}

.movie-age[data-age="18+"] {
    background-color: #9b2020;
}

.movie-meta {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #ced4da;
}

.movie-desc {
    font-style: italic;
    font-size: 1.1rem;
    font-weight:lighter;
}

.buy-btn {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
    color: white;
    background-color: #e50914;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px rgba(229, 9, 20, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
}

.info-wrap {
    z-index: 2;
    position: relative;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, #1a1f25, #262b2f);
}

.movie-content{
    color: var(--warning);
}

.movie-plot-short {
    color: #ddd;
    font-size: 1rem;
    font-weight: 300;
}

.toggle-text {
    color: rgb(192, 194, 59);
    cursor: pointer;
    display: inline;
    font-size: 1rem;
    margin-left: 5px;
    text-align: right;
}

/* Responsive */
@media (max-width: 768px) {
    h1.movie-title { font-size: 2rem; }
    .feature-content { width: 95%; left: 3%; }
}
